.warning
  h1 Epilepsy warning
  button OK
  p
    small= '2013 '
      a(href='http://tlvince.com/contact#contact') @tlvince
div
  p

script(src='//code.jquery.com/jquery-1.10.1.min.js')
script(src='scripts/script.js')
